<p id="notice"><%= notice %></p>

<h1>Dictionary</h1>

<h2>Words</h2>
<div>
<% @words.each do |word| %>
  <a href="/words/<%= word.html_safe %>"><%= word %></a>
<% end %>
</div>

<h2>Users</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.description %></td>
        <td><%= link_to 'Show', user %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br />

<p><%= link_to 'New User', new_user_path %></p>

<p><a href="mailto:matt.heard@powershop.co.nz">Make a suggestion or report a bug</a></p>
