<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.description %></td>
        <td><%= link_to 'Show', user %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br />

<%= link_to 'New User', new_user_path %>

<h2>To do</h2>
<ul>
  <li>List all defined words on the index page, in alphabetical order.</li>
  <li>List all words defined by a user on their user page, in alphabetical order.</li>
  <li>Fix discrepancies in word counting in frontend and backend validations.</li>
</ul>

<br />

<a href="mailto:matt.heard@powershop.co.nz">Make a suggestion or report a bug</a>
