<p id="notice"><%= notice %></p>

<h1>Dictionary</h1>

<p><strong>Words:</strong></p>
<ul>
<% if @words.count { |word| !('a'..'z').include?(word.chars.first.downcase) } > 0 %>
  <li><strong>#:</strong>
  <% @words.select { |word| !('a'..'z').include?(word.chars.first.downcase) }.each do |word| %>
    <a href="/words/<%= word.html_safe %>"><%= word %></a>
  <% end %>
  </li>
<% end %>
<% ('a'..'z').each do |letter| %>
  <% if @words.count { |word| word.chars.first.downcase == letter } > 0 %>
    <li><strong><%= letter.upcase %>:</strong>
    <% @words.select { |word| word.chars.first.downcase == letter }.each do |word| %>
      <a href="/words/<%= word.html_safe %>"><%= word %></a>
    <% end %>
    </li>
  <% end %>
<% end %>
</ul>

<p><strong>Users:</strong>
<% @users.each do |user| %>
  <%= link_to user.name, user %><%= "," unless user == @users.last %>
<% end %>
</p>

<p><%= link_to 'New User', new_user_path %></p>

<p><a href="mailto:matt.heard@powershop.co.nz">Make a suggestion or report a bug</a></p>

<p><strong>To do:</strong></p>
<ul>
  <li>Add an error message when a new user is rejected for not writing
  <strong>exactly</strong> 100 words in their personal description.</li>
</ul>
