<p id="notice"><%= notice %></p>

<h1><%= @user.name %></h1>

<h2>Words</h2>
<div>
<% @words.each do |word| %>
  <span><%= link_to word.word, [@user, word] %></span>
<% end %>
</div>

<br />
<p>
  <strong>Who is <%= @user.name %>?</strong>
</p>
<p>
  <% @user.description.split.each do |word| %>
    <% if @defined_word_hash[simplify(word)] %>
      <%= link_to word, [@user, @defined_word_hash[simplify(word)]], class: "frequency #{colour_decile(word, @frequencies)}" %>
    <% else %>
      <%= link_to word, new_user_word_path(@user, new_word: simplify(word)), class: "frequency #{colour_decile(word, @frequencies)}" %>
    <% end %>
  <% end %>
</p>

<%= link_to 'Back', users_path %>
