<p id="notice"><%= notice %></p>

<h1><%= @word.word %></h1>
<p>as defined by <strong><%= @user.name %></strong></p>

<p>
  <% @word.definition.split.each do |word| %>
    <% if @defined_word_hash[cleanup(word)] %>
      <%= link_to word, [@user, @defined_word_hash[cleanup(word)]], class: "frequency #{colour_decile(word, @frequencies)}" %>
    <% else %>
      <%= link_to word, new_user_word_path(@user, new_word: cleanup(word)), class: "frequency #{colour_decile(word, @frequencies)}" %>
    <% end %>
  <% end %>
</p>

<%= link_to 'Back', user_path(@user) %>
